.mainMultimedia {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $color-blanco;

.imgmov:hover {
-webkit-transform:scale(0.9);transform:scale(0.9);
    filter: sepia(60%);
    position: unset;
    //VER QUE PASA CON LOS POSITION QUE SE SUPERPONEN CON EL HEADER CUANDO SE ACTIVA EL HOVER
}
}

