.card-img-top {
    background-image: url(../Img/fondo-productos.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.card {
    position: unset;
}


.mainProductos {
    background-color: white;

.bg-light { background-image: url(../Img/Fondomain-prueba.png); 

    .btn-group {
    position: unset;

       .btn {
    position: unset;
}
}
}
}